.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #566e9e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.Text {
  text-align: left;
  color: gray;
  display: flex;
  flex-direction: column;
}

.Example {
  height: 40vmin;
  width: auto;
}

.Code {
  height: 40vmin;
}

